
.classifyBox{
  padding-bottom: 1rem;
}

.Topbox {
  position: fixed;
  left: 0;
  top:0;
  width: 7.5rem;
  height: 1rem;
  background: #FFFFFF;
  z-index: 9999;
  ul {
    overflow: hidden;
    border-bottom: .01rem #797979 solid;

    li {
      display: inline-block;
      width: 32%;
      text-align: center;
      font-size: .4rem;
      height: 1rem;
      line-height: 1rem;
      a{
        display: block;
        color: #cccccc;
        &.active{
          color: #2A2A2A;
        }
      }
    }
    li:last-child {
      border-right: .01rem #FFF solid;

    }
    span{
      display: inline-block;
      line-height: .6rem;
      font-size: 20px;
      color: #cccccc;
    }
  }
}

.menListBox {
  margin-top: 1rem;
  background: #FFFFFF;
  ul {
    float: left;
    width: 30%;
    height: 85%;
    position: fixed;
    overflow-y:scroll;

    li {
      display: block;
      margin-top: 0.05rem;
      height: 1.2rem;
      line-height: 1.2rem;
      font-size: .25rem;
      text-align: center;
      background: #efefef;
      &.active{
        background: white;
        border-left: 5px solid #737370;
        a{
          color: #2A2A2A;
        }
      }
      a{
        display: block;
        color: #807777;
        font-size: 16px;
      }
    }
  }
  .right {
    width: 70%;
    float: right;
    background: white;
    margin-bottom: 1rem;
    .step {
      height: 100%;
      h3 {
        text-align: center;
        line-height: 1rem;
      }
      .imgBox{
        margin-left: 4.0%;
        .smallBox {
          width: 30%;
          margin-right: 2.5%;
          float: left;
          img {
            display: block;
            width: 100%;
          }
          p{
            text-align: center;
          }
        }
      }

    }
  }
}

