.wanderBox {
  width: 7.5rem;
  img{
    display: block;
    width: 100%;
  }
  .top {
    height: 1.05rem;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background: #414141;
    z-index: 999;
    .ant-row{
      a {
        display: inline-block;
        &:first-child {
          transform: translateX(50%);
        }
      }
      i {
        font-size: 25px;
        line-height: 1.05rem;
        text-align: center;
        color: white;
      }
      h3 {
        line-height: 1.05rem;
        text-align: center;
        color: white;
        font-family: inherit;
        font-size: 20px;
        margin: 0;
      }
    }

  }
  .filterBox {
    width: 2rem;
    position: absolute;
    z-index: 9999;
    background: #414141;
    right: 0;
    li {
      text-align: center;
      color: #FFF;
      font-size: .32rem;
      line-height: .6rem;
      width: 100%;
      a{
        display: block;
        color: #FFFFFF;
      }
    }
  }
  .wanderSlide {
    margin-top: 1.05rem;
    margin-bottom: .1rem;
    img {
      display: block;
      width: 100%;
      padding:0;
    }
    .slick-dots {
      li {
        button {
          height: 6px;
          width: 6px;
          border-radius: 6px;
        }
      }
    }
  }
  .tab {
    height: 3.2rem;
    .certify{
      width: 100%;
      height: 100%;
      li{
        display: inline-block;
        width: 20%;
        height: 100%;
        position: relative;
        overflow: hidden;
        img{
          display: inline-block;
          position: absolute;
          width: 200px;
          left: 50%;
          margin-left: -100px;
        }
        span{
          position: absolute;
          color: #FFFFFF;
          left: 50%;
          top: 50%;
          font-size:15px;
          transform: translateX(-50%) translateY(-50%);
        }
      }
    }
  }
  .main {
    background: #eaeaea;
    img {
      display: block;
      width: 100%;
      box-sizing: border-box;
      padding: .2rem;
    }

    .blockBox {
      margin-bottom: .2rem;
      background: #FFFFFF;
      .big-title {
        height: 1rem;
        color: #444;
        font-weight: 500;
        position: relative;

        h3 {
          text-align: center;
          line-height: 1rem;
          font-size: 18px;
        }
        a {
          position: absolute;
          font-weight: bold;
          right: .2rem;
          color: #b0b0b0;
          font-size: 16px;
        }
      }
      .fz {
        p {
          text-align: center;
          &:nth-of-type(1) {
            font-size: 12px;
            line-height: .5rem;
          }
          &:nth-of-type(2) {
            font-size: 14px;
            line-height: .6rem;
            color: #cccccc;
          }
        }
      }
    }
  }
  .banner {
    text-align: center;
    height: 100%;
    line-height: 100%;
    background: #fff;
    overflow: hidden;
  }
  .goodsList {
    .bigListBox {
      width: 100%;
      height: 3rem;
      .imgBox {
        width: 50%;
        float: left;
        img {
          display: block;
          width: 100%;
          padding-top: .5rem;
        }
      }
      .psapnBox {
        position: relative;
        width: 50%;
        float: left;
        p {
          text-align: left;
          font-weight: bold;
          font-size: .5rem;
          color: #000;
          position: absolute;
          top: .5rem;
          left: .2rem;

        }
        span{
          position: absolute;
          left: .5rem;
          top: 2.5rem;
        }
      }
    }
  }
}
